In [0]:
df=spark.read.format("csv").option("header","true").option("inferSchema","true").load("/Volumes/avd_azure_db/default/raw_data/emp.csv")
df.show()

+---+------+------+---------+----------+-----------+
| id|  name|salary|  address|department|joined_date|
+---+------+------+---------+----------+-----------+
|  1|  Amit| 50000|    Delhi|        IT| 2025-01-02|
|  2|  Neha| 60000|   Mumbai|     Sales| 2025-01-01|
|  3|  Ravi| 55000|Bangalore|        IT| 2025-01-04|
|  4| Pooja| 70000|    Delhi|     Sales| 2025-01-05|
|  5| Arjun| 65000|   Mumbai|     Sales| 2025-01-06|
|  6| Kiran| 58000|  Chennai|        IT| 2025-01-07|
|  7| Meena| 52000|Bangalore| Marketing| 2025-01-08|
|  8| Rahul| 59000|    Delhi|        IT| 2025-01-09|
|  9|Anjali| 62000|  Chennai| Marketing| 2025-01-10|
| 10|Vikram| 70000|   Mumbai|     Sales| 2025-01-11|
+---+------+------+---------+----------+-----------+

In [0]:
from pyspark.sql.functions import col 
df2=df.withColumn("tax", col("salary") * 0.05)

df2.show()

+---+------+------+---------+----------+-----------+------+
| id|  name|salary|  address|department|joined_date|   tax|
+---+------+------+---------+----------+-----------+------+
|  1|  Amit| 50000|    Delhi|        IT| 2025-01-02|2500.0|
|  2|  Neha| 60000|   Mumbai|     Sales| 2025-01-01|3000.0|
|  3|  Ravi| 55000|Bangalore|        IT| 2025-01-04|2750.0|
|  4| Pooja| 70000|    Delhi|     Sales| 2025-01-05|3500.0|
|  5| Arjun| 65000|   Mumbai|     Sales| 2025-01-06|3250.0|
|  6| Kiran| 58000|  Chennai|        IT| 2025-01-07|2900.0|
|  7| Meena| 52000|Bangalore| Marketing| 2025-01-08|2600.0|
|  8| Rahul| 59000|    Delhi|        IT| 2025-01-09|2950.0|
|  9|Anjali| 62000|  Chennai| Marketing| 2025-01-10|3100.0|
| 10|Vikram| 70000|   Mumbai|     Sales| 2025-01-11|3500.0|
+---+------+------+---------+----------+-----------+------+

In [0]:
df3=df2.filter(col("address") == "Mumbai")
df3.show()

+---+------+------+-------+----------+-----------+------+
| id|  name|salary|address|department|joined_date|   tax|
+---+------+------+-------+----------+-----------+------+
|  2|  Neha| 60000| Mumbai|     Sales| 2025-01-01|3000.0|
|  5| Arjun| 65000| Mumbai|     Sales| 2025-01-06|3250.0|
| 10|Vikram| 70000| Mumbai|     Sales| 2025-01-11|3500.0|
+---+------+------+-------+----------+-----------+------+

In [0]:
df4=df2.filter(col("address") == "Mumbai")
df4.show()

+---+------+------+-------+----------+-----------+------+
| id|  name|salary|address|department|joined_date|   tax|
+---+------+------+-------+----------+-----------+------+
|  2|  Neha| 60000| Mumbai|     Sales| 2025-01-01|3000.0|
|  5| Arjun| 65000| Mumbai|     Sales| 2025-01-06|3250.0|
| 10|Vikram| 70000| Mumbai|     Sales| 2025-01-11|3500.0|
+---+------+------+-------+----------+-----------+------+

In [0]:
df2.cache()

DataFrame[id: int, name: string, salary: int, address: string, department: string, joined_date: date, tax: double]

In [0]:
df2.unpersist()

DataFrame[id: int, name: string, salary: int, address: string, department: string, joined_date: date, tax: double]

In [0]:
from pyspark import StorageLevel
df2.persist(StorageLevel.MEMORY_ONLY_2)
df4.collect()

[Row(id=2, name='Neha', salary=60000, address='Mumbai', department='Sales', joined_date=datetime.date(2025, 1, 1), tax=3000.0),
 Row(id=5, name='Arjun', salary=65000, address='Mumbai', department='Sales', joined_date=datetime.date(2025, 1, 6), tax=3250.0),
 Row(id=10, name='Vikram', salary=70000, address='Mumbai', department='Sales', joined_date=datetime.date(2025, 1, 11), tax=3500.0)]

In [0]:
df = (spark.read.format("csv")
    .option("header",True)
    .option("inferSchema",True)
    .option("path","/Volumes/avd_azure_db/default/raw_data/emp.csv").load()
)
df.show()

+---+------+------+---------+----------+-----------+
| id|  name|salary|  address|department|joined_date|
+---+------+------+---------+----------+-----------+
|  1|  Amit| 50000|    Delhi|        IT| 2025-01-02|
|  2|  Neha| 60000|   Mumbai|     Sales| 2025-01-01|
|  3|  Ravi| 55000|Bangalore|        IT| 2025-01-04|
|  4| Pooja| 70000|    Delhi|     Sales| 2025-01-05|
|  5| Arjun| 65000|   Mumbai|     Sales| 2025-01-06|
|  6| Kiran| 58000|  Chennai|        IT| 2025-01-07|
|  7| Meena| 52000|Bangalore| Marketing| 2025-01-08|
|  8| Rahul| 59000|    Delhi|        IT| 2025-01-09|
|  9|Anjali| 62000|  Chennai| Marketing| 2025-01-10|
| 10|Vikram| 70000|   Mumbai|     Sales| 2025-01-11|
+---+------+------+---------+----------+-----------+

In [0]:
df.write.option("path","/Volumes/avd_azure_db/default/raw_data/address").partitionBy("address").save()

In [0]:
df.write \
.format("csv") \
.option("path","/Volumes/avd_azure_db/default/raw_data/test") \
.option("header",True) \
.option("maxRecordsPerFile",5).save()